<div (click)="onCardClick()" class="min-w-[300px] max-w-[300px] cursor-pointer">
    <section
        class="relative h-[400px] overflow-hidden font-sans border border-gray-300 rounded-lg shadow transition-transform duration-300 bg-white hover:scale-105 hover:shadow-lg"
    >
        <div class="relative w-full">
            <img [src]="imageUrl | imageUrlOrNotFound" alt="Imagem" class="w-full block h-52 object-fill rounded-t-lg" (error)="onImgError($event)" />
            <div class="absolute bottom-2 right-2 px-2 py-1 text-white rounded-2xl text-[0.8em]" [style.background-color]="getTagDetails(tag).color">
                {{ getTagDetails(tag).description }}
            </div>
        </div>

        <div class="px-4 flex flex-col gap-1">
            <h2 class="mt-2 text-gray-800">{{ wantedPersonName }}</h2>
            <h4 class="text-gray-600 text-sm">{{ wantedPersonAge }}, {{ wantedPersonGender }}</h4>
            <p class="text-gray-600 text-sm"><strong>Local:</strong> {{ disappearanceLocation }}</p>
            <p class="text-gray-600 text-sm"><strong>Data:</strong> {{ disappearanceDate | formatDate }}</p>
            <span class="text-gray-600 leading-5 h-40 overflow-hidden break-words" #textElement>
                <div class="flex flex-col gap-1">
                    <span *ngIf="wantedPersonLastOcurrenceInfo" class="line-clamp-1 text-sm" [title]="wantedPersonLastOcurrenceInfo">
                        <strong>Informações:</strong> {{ wantedPersonLastOcurrenceInfo }}
                    </span>
                    <span *ngIf="wantedPersonLastOcurrenceVestment" class="line-clamp-2 text-sm" [title]="wantedPersonLastOcurrenceVestment">
                        <strong>Vestimentas:</strong> {{ wantedPersonLastOcurrenceVestment }}
                    </span>
                </div>
            </span>
        </div>
    </section>
</div>
