<label
    for="input"
    class="text-sm font-medium"
    *ngIf="label"
    [ngClass]="{
        'text-red-600': hasError,
        'text-gray-600': !hasError,
    }"
    >{{ label }}</label
>
<textarea
    [value]="value"
    [placeholder]="placeholder"
    (input)="handleInput($event)"
    (blur)="onBlur()"
    [disabled]="disabled"
    [ngClass]="{
        'border-red-600 focus:border-red-600 focus:ring-red-600': hasError,
        'border-gray-300': !hasError,
    }"
    class="block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500"
></textarea>
