<div class="flex justify-center space-x-2">
    <p
        (click)="previousPage()"
        [class.pointer-events-none]="currentPage === 1"
        [ngClass]="{
            'disabled cursor-pointer': currentPage === 1,
        }"
        class="px-2 py-1 sm:px-4 sm:py-2 ml-1 mt-2 text-gray-600 border rounded-lg hover:bg-gray-100 focus:outline-none cursor-pointer"
    >
        Prev
    </p>

    <ng-container *ngFor="let page of pages">
        <p
            *ngIf="page !== '...'; else ellipsis"
            (click)="goToPage(page)"
            [ngClass]="{
                'ring ring-primary bg-primary/20': page === currentPage,
                'hover:bg-gray-100': page !== currentPage,
            }"
            class="px-2 py-1 sm:px-4 sm:py-2 ml-1 mt-2 text-gray-600 border rounded-lg focus:outline-none cursor-pointer"
        >
            {{ page }}
        </p>
        <ng-template #ellipsis>
            <span class="px-2 py-1 sm:px-4 sm:py-2 ml-1 mt-2 text-gray-600 rounded-lg focus:outline-none">...</span>
        </ng-template>
    </ng-container>

    <p
        (click)="nextPage()"
        [class.pointer-events-none]="currentPage === totalPages"
        class="px-2 py-1 sm:px-4 sm:py-2 ml-1 mt-2 text-gray-600 border rounded-lg hover:bg-gray-100 focus:outline-none"
    >
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
            ></path>
        </svg>
    </p>
</div>
